<a href="https://colab.research.google.com/github/ClauCll/Curso_ML_A_Z/blob/master/Regresi%C3%B3n/Regresion_Bajas_Antiguedad_v5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Cuantas serán las bajas voluntarias de los clientes fijos para el periodo 202009 - 202012

In [57]:
import pandas as pd
import numpy as np

#Gráfico
from mpl_toolkits.mplot3d import axes3d
import matplotlib.pyplot as plt 
from matplotlib import style
import matplotlib.ticker as ticker
import seaborn as sns

import gspread
from oauth2client.client import GoogleCredentials 
from google.colab import auth
# Autoriza Claudia
auth.authenticate_user()
gc = gspread.authorize (GoogleCredentials.get_application_default())

### leemos datos

In [58]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [67]:
data = pd.read_csv('/content/drive/My Drive/Dataset/BAJAS.txt',delimiter='~')
data = data[['MES_BAJA','TRIM_1','TRIM_2','TRIM_3','TRIM_4','ENTRE_1_2_ANIOS','ENTRE_3_4_ANIOS','MAS_5_ANIOS','TOTAL_BAJAS']]
data = data.groupby(['MES_BAJA']).agg({"MES_BAJA":'median',"TRIM_1": 'median',"TRIM_2": 'median',
                                "TRIM_3": 'median',"TRIM_4": 'median',  
                                "ENTRE_1_2_ANIOS": 'median',"ENTRE_3_4_ANIOS": 'median',
                                "MAS_5_ANIOS": 'median',"TOTAL_BAJAS": 'median'})
X  = data.iloc[:,:-1].values
Y  = data.iloc[:,8]
Y = Y[:,np.newaxis]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  if __name__ == '__main__':

In [73]:
data

          MES_BAJA  TRIM_1  TRIM_2  ...  ENTRE_3_4_ANIOS  MAS_5_ANIOS  TOTAL_BAJAS
MES_BAJA                            ...
1                1    31.0    22.0  ...            399.0         19.0       1491.0
2                2    38.5    18.5  ...            511.0         21.5       1888.5
3                3    47.5    24.0  ...            424.0         38.0       1533.5
4                4    44.5    23.5  ...            318.0         28.5       1152.5
5                5    56.0    20.0  ...            313.5         21.0       1182.5
6                6    54.0    35.0  ...            369.0         57.5       1384.0
7                7    59.5    43.5  ...            382.5         72.5       1430.0
8                8    19.0    18.0  ...            294.0          6.0       1114.0
9                9    26.0    19.0  ...            316.0         10.0       1031.0
10              10    29.0    15.0  ...            294.0         19.0        978.0
11              11    35.0    19.0  ...            294.0         11.0       1018.0
12              12    42.0    19.0  ...           1470.0        105.0       2435.0

[12 rows x 9 columns]

In [ ]:
# Datos en entrenamiento y test.
# ==============================================================================
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X2, Y,train_size = 0.8,
                                        random_state = 0,
                                        shuffle      = True
                                    )
#escalamos los datos
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
sc_y = StandardScaler()
x_train = sc_x.fit_transform(x_train)
y_train= sc_y.fit_transform(y_train)
x_test = sc_x.fit_transform(x_test)
y_test= sc_y.fit_transform(y_test)

## Modelo SVM

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.svm import SVR

svr= SVR(kernel='rbf',degree=3, C=1.0, epsilon=0.2)
svr.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.2, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [ ]:
y_predic = svr.predict(x_train)

In [ ]:
print(svr.score(x_train,y_train))
print(svr.score(x_test,y_test))

0.949768234950482
0.205026654700323

In [ ]:
x_test

In [ ]:
y_predic

array([-0.66786437, -0.18962612,  0.75040555, -0.08149598])